!= js("ace")

:coffeescript
  window.onload = -> 
    unless navigator.userAgent.match /iPhone|iPad|iPod/
      $('textarea').toggle()
      $('#editor').toggle()
      window.editor = editor = ace.edit 'editor'
      editor.setTheme("ace/theme/twilight")
      MarkdownMode = require("ace/mode/markdown").Mode
      editor.getSession().setMode(new MarkdownMode())
      editor.getSession().setUseSoftTabs(true)

