.header
  .container
    .two.columns
      a.button(href="/logout") Sign Out
    .twelve.columns
      h3 Water Cooler
    .two.columns
      a.button(href="/posts/new", style="float:right;") New Post
      
.container
  .two.columns
    h1 Water Cooler
    a.button(href="/posts/new", style='width:100%') New Post
    a.button(href="/logout", style='width:100%') Sign Out
  .right.ten.columns.offset-by-one
    ul
      each post in posts
        li
          h3
            a(href="/posts/#{post.id}")= post.value.title
          p 
            = 'by ' + post.value.updated_by + ' on ' + post.value.updated_at
          
          if post.value.comments != null
            hr
            .comment
              .two.columns
                p #{post.value.comments[0].user} says
              .nine.columns.omega
                !{post.value.comments[0].formatted_body}
            hr
