.container
  .two.columns
    h1 Login
  .offset-by-one.four.columns
    h3 Welcome to the Water Cooler
    form(method='POST', action='/sessions')
      p
        label User
        input(type='text', name='username', autofocus)
      p
        label Password
        input(type='password', name='password')
      p
        button Sign In
        | or
        a(href='/register') Register