.container
  .two.columns
    h1 New Post
  .eight.columns.offset-by-one
    form(method='POST', action='/posts')
      p
        label Title
        input(type='text', name="title", autofocus)
      p
        label Body
        textarea(name="body", placeholder="Markdown Enabled")
        small: a(href="http://daringfireball.net/projects/markdown/syntax") markdown supported 

      p
        button Publish
        | &nbsp;&nbsp;or
        a(href='/') Cancel