include ace
.container
  .two.columns
    h1 New Post
  .twelve.columns.offset-by-one
    form(id="post", method='POST', action='/posts')
      p
        label Title
        input(type='text', name="title", autofocus)
      p
        label Body
        div(id="editor")

        textarea(name="body", placeholder="Markdown Enabled", style="display:none;")
        small: a(href="http://daringfireball.net/projects/markdown/syntax") markdown supported 
      p
        button Publish
        | &nbsp;&nbsp;or
        a(href='/') Cancel
      