.container
  .two.columns
    h1 Register
  .offset-by-one.four.columns
    h3 Register for the Water Cooler
    form(method='POST', action='/register')
      p
        label User
        input(type='text', name='username', autofocus)
      p
        label Password
        input(type='password', name='password')
      p
        label Confirm Password
        input(type='password', name='confirm')
      p
        button Sign Up
        