@import 'nib'

.comments
  margin-bottom: 20px
  padding-bottom: 20px

  .comment
    border: 4px solid darkgray
    background: gray
    border-radius: 15px;
    padding: 10px
    margin: 2px
    color: white
    font-size: 1.2em
  
    :first-child
      display: inline

h1
  color: rgba(0,131,225, .7)

li.post
  h3
    border: 2px solid rgba(0,32,56, .9)
    padding: 10px
    a
      text-decoration: none
      width: 100%;
      font-style: bold
      color: rgba(0,32,56, .9)

#editor {
      position: relative;
      width: 100%;
      height: 350px;
}

.header
  margin: 0
  padding: 0
  margin-bottom: 20px
  background: linear-gradient(top, white, gray)
  .container
    padding: 0
    margin-top: 0
    padding-top: 5px
    padding-bottom: 5px
  
  a
    margin: 0
  
  h3
    margin: 0
    padding: 0
    color: gray
  
h2.login
  smooth-button()
  width: 90%
  font-size: 2em

input[type=text], input[type=password]
  width: 100%
textarea
  width: 100%
  min-height: 300px

.markdown
  h1, h2, h3, h4 {
    color: #111111;
    font-weight: 400;
  }
  h1, h2, h3, h4, h5, p {
      margin-bottom: 24px;
      padding: 0;
  }
  h1 {
      font-size: 48px;
  }
  h2 {
      font-size: 36px;
      /* The bottom margin is small. It's designed to be used with gray meta text
       * below a post title. */
      margin: 24px 0 6px;
  }
  h3 {
      font-size: 24px;
  }
  h4 {
      font-size: 21px;
  }
  h5 {
      font-size: 18px;
  }
  a {
      color: #0099ff;
      margin: 0;
      padding: 0;
      vertical-align: baseline;
  }
  a:hover {
      text-decoration: none;
      color: #ff6600;
  }
  a:visited {
      color: purple;
  }
  ul, ol {
      padding: 0;
      margin: 0;
      
  }
  ul {
    list-style-type: circle;  
  }

  li {
      line-height: 20px;
  }
  li ul, li ul {
      margin-left: 24px;
  }
  p, ul, ol {
      font-size: 16px;
      line-height: 24px;
      max-width: 540px;
  }
  pre {
      padding: 10px 24px;
      max-width: 800px;
      border: 1px solid rgba(0,0,0,.2);
      background-color: black;
      color: green;
      margin: 10px 0px;
      border-radius: 5px;
  }

  code {
      font-family: Consolas, Monaco, Andale Mono, monospace;
      font-size: 13px;
      max-width: 800px;
  }
  aside {
      display: block;
      float: right;
      width: 390px;
  }
  blockquote {
      border-left:.5em solid #eee;
      padding: 0 2em;
      margin-left:0;
      max-width: 476px;
  }
  blockquote  cite {
      font-size:14px;
      line-height:20px;
      color:#bfbfbf;
  }
  blockquote cite:before {
      content: '\2014 \00A0';
  }

  blockquote p {  
      color: #666;
      max-width: 460px;
  }
  hr {
      width: 540px;
      text-align: left;
      margin: 0 auto 0 0;
      color: #999;
  }

.show-post
  h1
    margin: 10px 0px
    padding: 10px
    background: rgba(0,32,56, .9)
    color: white

.markdown
  h2
    color: rgba(0,32,56, .9)
    text-align: right
  ul
    padding: 20px
    margin: 20px
    li
      border-bottom: 3px solid whitesmoke
      list-style: none
