#editor {
  position: relative;
  width: 100%;
  height: 350px;
}
.header {
  margin: 0;
  padding: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #808080));
  background: -webkit-linear-gradient(top, #fff 0%, #808080 100%);
  background: -moz-linear-gradient(top, #fff 0%, #808080 100%);
  background: linear-gradient(top, #fff 0%, #808080 100%);
}
.header .container {
  margin: 0;
  padding: 0;
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header a {
  margin: 0;
}
.header h3 {
  margin: 0;
  padding: 0;
  color: #808080;
}
h2.login {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  text-decoration: none;
  background: #7fbf4d;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7fbf4d), color-stop(1, #72b140));
  background: -webkit-linear-gradient(top, #7fbf4d 0%, #72b140 100%);
  background: -moz-linear-gradient(top, #7fbf4d 0%, #72b140 100%);
  background: linear-gradient(top, #7fbf4d 0%, #72b140 100%);
  border: 1px solid #6ca83d;
  border-bottom: 1px solid #72b140;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #8cc55f;
  -moz-box-shadow: inset 0 1px 0 0 #8cc55f;
  box-shadow: inset 0 1px 0 0 #8cc55f;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 7px 15px 8px 15px;
  text-align: center;
  text-shadow: 0 -1px 0 #6ba83c;
  color: #fff;
  width: 90%;
  font-size: 2em;
}
h2.login:hover,
h2.login.hover {
#6ca83d
  background: #6ca83d;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7fbf4d), color-stop(1, #6ca83d));
  background: -webkit-linear-gradient(top, #7fbf4d 0%, #6ca83d 100%);
  background: -moz-linear-gradient(top, #7fbf4d 0%, #6ca83d 100%);
  background: linear-gradient(top, #7fbf4d 0%, #6ca83d 100%);
  cursor: pointer;
}
h2.login:active,
h2.login.active {
#6ca83d
  border: 1px solid #6ca83d;
  border-bottom: 1px solid #6ca83d;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #7fbf4d), color-stop(1, #6ca83d));
  background: -webkit-linear-gradient(bottom, #7fbf4d 0%, #6ca83d 100%);
  background: -moz-linear-gradient(bottom, #7fbf4d 0%, #6ca83d 100%);
  background: linear-gradient(bottom, #7fbf4d 0%, #6ca83d 100%);
  -webkit-box-shadow: inset 0 0 8px 4px rgba(0,0,0,0.15), 0 1px 0 0 #eee;
  -moz-box-shadow: inset 0 0 8px 4px rgba(0,0,0,0.15), 0 1px 0 0 #eee;
  box-shadow: inset 0 0 8px 4px rgba(0,0,0,0.15), 0 1px 0 0 #eee;
}
input[type=text],
input[type=password] {
  width: 100%;
}
textarea {
  width: 100%;
  min-height: 300px;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4 {
  color: #111;
  font-weight: 400;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown p {
  margin-bottom: 24px;
  padding: 0;
}
.markdown h1 {
  font-size: 48px;
}
.markdown h2 {
  font-size: 36px;
/* The bottom margin is small. It's designed to be used with gray meta text
       * below a post title. */
  margin: 24px 0 6px;
}
.markdown h3 {
  font-size: 24px;
}
.markdown h4 {
  font-size: 21px;
}
.markdown h5 {
  font-size: 18px;
}
.markdown a {
  color: #09f;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
.markdown a:hover {
  text-decoration: none;
  color: #f60;
}
.markdown a:visited {
  color: #800080;
}
.markdown ul,
.markdown ol {
  padding: 0;
  margin: 0;
}
.markdown ul {
  list-style-type: circle;
}
.markdown li {
  line-height: 20px;
}
.markdown li ul,
.markdown li ul {
  margin-left: 24px;
}
.markdown p,
.markdown ul,
.markdown ol {
  font-size: 16px;
  line-height: 24px;
  max-width: 540px;
}
.markdown pre {
  padding: 0px 24px;
  max-width: 800px;
  white-space: pre-wrap;
}
.markdown code {
  font-family: Consolas, Monaco, Andale Mono, monospace;
  line-height: 1.5;
  font-size: 13px;
  border: 1px solid rgba(0,0,0,0.20);
  padding: 10px;
  background-color: #f5f5f5;
}
.markdown aside {
  display: block;
  float: right;
  width: 390px;
}
.markdown blockquote {
  border-left: 0.5em solid #eee;
  padding: 0 2em;
  margin-left: 0;
  max-width: 476px;
}
.markdown blockquote cite {
  font-size: 14px;
  line-height: 20px;
  color: #bfbfbf;
}
.markdown blockquote cite:before {
  content: '\2014 \00A0';
}
.markdown blockquote p {
  color: #666;
  max-width: 460px;
}
.markdown hr {
  width: 540px;
  text-align: left;
  margin: 0 auto 0 0;
  color: #999;
}
